header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

body {
  font-family: "Fira Sans", sans-serif;
}

a {
  color: black;
}

.logoLink {
  font-size: 30px;
  padding: 30px 5px;
  color: red;
  text-decoration: none;
  font-style: italic;
}

.deliveryLink {
  font-size: 15px;
  padding: 30px 5px;
  text-decoration: none;
}

.logoDeliverContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.telephone-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: white;
  margin-right: 0.5em; /* Adjust this value to your liking */
  margin-top: -0.2em;
}

.mainNavigation .item {
  margin-bottom: 10px;
}

.logoLink {
  font-size: 30px;
  padding: 30px 5px;
  color: red;
  text-decoration: none;
  font-style: italic;
  display: flex;
  align-items: center;
}

.menuIcon {
  height: 30px;
  width: 30px;
  fill: black;
  margin-left: 5px;
}

.menuBtn {
  outline: none;
  border: none;
}

.modal {
  position: fixed;
  top: -100%;
  left: 50%;
  width: 80%;
  height: 50%;
  transform: translate( -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  transition: all 1s ease;
  border: 6px solid orangered; 
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.show {
  top: 0;
}
.menuMobileContainer {
  padding: 60px 60px;
  
}
.workTimeText {
  text-align: center;
}
.mainNavigation {
  text-align: center;
  color: white;
  .item {
    margin-bottom: 30px;
  }
  
}
.headerModalLink {
  color: white;
  font-size: 18px;
} 
.workTimeText {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}
.workTimeSpan {
  color: red;
}
.menuCloseBtn {

  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
}
.menuCloseIconBtn {
  width: 100px;
  height: 100px;
  fill: orangered;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


